<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Tu Email" value="" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar session</a>
        </div>
        <div class="campo ">
            <input type="submit" value="Reestablecer password" class="btn btn-azul">
        </div>
    </form>
</main>